@font-face {src: url("Inspiration-Regular.ttf");
font-family: Inspiration-Regular;}
@font-face {src: url("MonteCarlo-Regular.ttf");
font-family: MonteCarlo-Regular;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
*
{margin: 0;
padding: 0;}
/*-------------------------------------------------*/
html
{font-size: 10px;
font-family: sans-serif;}
/*-------------------------------------------------*/
body
{background: none;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#cuerpo_index 
{height: 100vh;
width: 100vw;
background: #fff url("icbpvvzla_index_mobil.png") no-repeat fixed center center;
position: fixed;
top: 0;
left: 0;
z-index: 1;}

#cuerpo_index_horizontal
{display: none;
height: 100vh;
width: 100vw;
background: #fff url("icbpvvzla_index_mobil_horizontal.png") no-repeat fixed center center;
position: fixed;
top: 0;
left: 0;
z-index: 1;}

#cuerpo_recursos
{background: #fff url("stones-g381f3bf21_1920.jpg") no-repeat fixed center center;}

#cuerpo_por_venir
{background: #fff url("clock-g53f479a4b_1920.jpg") no-repeat fixed center center;
height: 100vh;
width: 100vw;}

#cuerpo_ideal_y_relevante
{background: #fff url("Imagen_de_Republica_en_Pixabay.jpg") no-repeat fixed center center;
height: 100vh;
width: 100vw;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.cabecera
{display: flex;
flex-direction: row;
box-sizing: border-box;
height: 10vh;
width: 100vw;
position: fixed;
z-index: 100;
top: 0;
left: 0;
padding: 0 4vh;
margin: 0;
justify-content: space-between;
align-items: center;
background: #fff;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .25);}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#logo_index_cabecera_mobil
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
font-family: Inspiration-Regular;
font-size: 6vh;
font-weight: 100;
text-align: center;
line-height: 10vh;
color: #000;
word-spacing: 25vh:}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#menu_cabecera
{display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 3vh;
width: 3vh;}

#menu_cabecera_linea
{height: .30vh;
border-radius: .2vh;
width: 3vh;
background: #000;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#texto_portada
{display: flex;
    position: relative;
    z-index: 2;
    height: 50vh;
margin: 100vh 0 0 0;
justify-content: center;
align-items: center;
background: #fff;
font-family: sans-serif;
font-size: 1.25rem;
text-align: center;
padding: 0 3rem;
box-sizing: border-box;
font-weight: 200;
letter-spacing: .25rem;
line-height: 5vh;
box-shadow: 0vh 0vh 1vh .5vh rgba(0, 0, 0, .15);}

#texto_portada_sub_paginas
{display: flex;
    position: relative;
    z-index: 2;
    height: 25vh;
    width:  25vh;
    border-radius: 100vh;
margin: 100vh auto 0 auto;
justify-content: center;
align-items: center;
background: #fff;
font-family: sans-serif;
font-size: 1.25rem;
text-align: center;
padding: 0 3rem;
box-sizing: border-box;
font-weight: 500;
letter-spacing: .25rem;
line-height: 5vh;
box-shadow: 0vh 0vh 1vh .5vh rgba(0, 0, 0, .25);}

#texto_portada_final
{display: flex;
    position: relative;
    z-index: 2;
    height: 50vh;
margin: 0 0 0 0;
justify-content: center;
align-items: center;
background: #fff;
font-family: sans-serif;
font-size: 1.25rem;
text-align: center;
padding: 0 3rem;
box-sizing: border-box;
font-weight: 300;
letter-spacing: .25rem;
line-height: 5vh;
box-shadow: 0vh 0vh 1vh .5vh rgba(0, 0, 0, .15);}

#texto_portada_sub_paginas h1
{font-weight: 100;
font-size: 2.5rem;
font-weight: 400;
line-height: 4vh;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.navegacion_movil
{display: flex;
    position: relative;
flex-direction: column;
width: 100vw;
justify-content: center;
align-items: center;
box-sizing: border-box;
background: rgba(255, 255, 255, 0);
padding: 7.5vh 0 3.75vh 0;
z-index: 1;}

.navegacion_movil a
{display: flex;
justify-content: center;
align-items: center;
background: #fff;
color: #000;
height: 15vw;
width: 70vw;
font-size: 1.5rem;
font-weight: 900;
font-family: sans-serif;
letter-spacing: .25rem;
border-radius: 50vh;
text-decoration: none;
margin: 0 0 3.5vh 0;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .5);}

a
{text-decoration: none;
color: #000;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.etiqueta_series
{display: flex;
    flex-direction: column;
justify-content: space-evenly;
position: relative;
z-index: 2;
align-items: center;
gap: 4vh;
padding: 4vw 0;
background: rgba(255, 255, 255, 0);
width: 85vw;
margin: 2vh auto;
border: none 1px #ccc;
border-radius: 1vh;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, 0);}

.etiqueta_series_encabezado
{display: flex;
justify-content: center;
align-items: center;
height: 20vw;
width: 100vw;
background: rgba(255, 255, 255, 1);
font-family: sans-serif;
font-size: 1.8vh;
font-weight: 100;
color: #000;
border: solid 1px #ccc;
border-radius: 1vh;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .5);}

.contenedor_serie
{display: flex;
    box-sizing: border-box;
    flex-direction: column;
justify-content: center;
align-items: center;
width: 70vw;
padding: 4vh 2vh;
background: #fff;
font-family: Inspiration-Regular;
font-size: 5vh;
text-align: center;
border: solid 1px #ccc;
border-radius: 1vh;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .5);}

.contenedor_serie h3
{font-family: Inspiration-Regular;
font-size: 7vh;
margin: 0vh 0vh;
text-align: center;
font-weight: 100;
letter-spacing: -.1vh;}

.contenedor_serie p
{font-family: sans-serif;
font-size: 2.5vh;
line-height: 4vh;
margin: 4vh 4vh;
text-align: center;
font-weight: 100;
letter-spacing: -.1vh;}

.contenedor_serie button 
{width: 70%;
height: 5vh;
border:none;
border-radius: 5vh;
color: #fff;
font-size: 2vh;
font-weight: 900;
margin: 2vh 0 0 0;
background: rgba(5, 0, 250, .75);}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*--------------ARTÍCULOS--------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.encabezado_articulo
{display: flex;
    flex-direction: column;
justify-content: space-evenly;
position: relative;
z-index: 2;
align-items: center;
padding: 7.5vw 4vw;
background: rgba(255, 255, 255, 0);
width: 85vw;
height: 25vh;
margin: 0 auto;
border: none 1px #ccc;
border-radius: 1vh;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, 0);}

.encabezado_articulo h2
{display: flex;
    box-sizing: border-box;
    flex-direction: column;
justify-content: center;
align-items: center;
width: 25vh;
padding: 4vh 3vh;
background: #fff;
font-family: sans-serif;
font-weight: 100;
font-size: 2rem;
line-height: 3rem;
text-align: center;
border: solid 1px #ccc;
border-radius: 1vh;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .5);}

.punto_articulo
{display: flex;
    position: relative;
z-index: 2;
flex-direction: column;
background: #fff;
padding: 4vh 4vh;
box-sizing: border-box;
width: 100vw;}

.punto_articulo p 
{font-family: sans-serif;
    font-size: 1.65rem;
font-weight: 300;
line-height: 2.5rem;
margin: 1.5rem 0;
text-align: justify;
letter-spacing: 0vh;}

.punto_articulo b
{font-weight: 600;}

.punto_articulo em
{color: #00f;
    font-weight: 600;
font-style: normal;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.navegacion_movil_serie
{display: flex;
flex-direction: column;
position: relative;
z-index: 2;
width: 100vw;
justify-content: center;
align-items: center;
box-sizing: border-box;
background: rgba(255, 255, 255, 0);
padding: 7.5vh 0 3.75vh 0;}

.navegacion_movil_serie a
{display: flex;
    position: relative;
z-index: 2;
align-items: center;
background: #fff;
color: #000;
height: 20vw;
width: 70vw;
font-size: 2vh;
font-weight: 900;
font-family: sans-serif;
letter-spacing: .15rem;
line-height: 3vh;
border-radius: 50vh;
text-decoration: none;
text-align: left;
margin: 0 0 3.5vh 0;
padding: 0 4vh;
box-sizing: border-box;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .5);}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

@media (max-height:450px) {
    #cuerpo_index 
{display: none;}
#cuerpo_index_horizontal
{display: block;}







/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
}


/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
