@font-face {src: url("Inspiration-Regular.ttf");
font-family: Inspiration-Regular;}
@font-face {src: url("MonteCarlo-Regular.ttf");
font-family: MonteCarlo-Regular;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
*
{margin: 0;
padding: 0;}
/*-------------------------------------------------*/
html
{font-size: 10px;
font-family: sans-serif;}
/*-------------------------------------------------*/
body
{background: #fff;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.cabecera
{display: flex;
position: fixed;
top: 0;
left: 0;
right: 0;
flex-direction: row;
background:none;
width: 100vw;
height: 15vh;
box-sizing: border-box;
padding: 1vh 8vh 0 3vh;
justify-content: center;
align-items: center;
z-index: 1;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/

#logo_cabecera_mobil
{display: none;}

#logo_cabecera
{display: flex;
flex-direction: row;
position: relative;
height: 8vh;
padding: 0;
width: 100%;}

#siglas_logo
{font-size: 5vh;
margin: 0 0vh 0 2vh;}

#logo_cabecera a
{font-family: Inspiration-Regular;
font-size: 10vh;
position: relative;
font-weight: 100;
margin: 0 0;
font-style: normal;
color: #fff;
height: 8vh;
width: 100%;
line-height: 8vh;
letter-spacing: .1rem;
word-spacing: -.9rem;
text-align: left;
z-index: 2;}

#logo_cabecera a:hover
{background: none;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.cabecera nav
{display: flex;
flex-direction: row;
background: none;
margin: 0 0 0 auto;}

.cabecera ul
{display: inline-flex;
height: 8vh;}

.cabecera li
{display: flex;
justify-content: center;
align-items:center;
list-style-type: none;
height: 8vh;}

.cabecera a 
{text-decoration: none;
color: #fff;
margin: auto 0rem;
text-align: center;
font-size: 1.7vh;
padding: 0;
letter-spacing: .30rem;
height: 6vh;
line-height: 6vh;
width: 20vh;
font-weight: 600;
border-radius: 24vh;}

.cabecera a:hover
{background: #fff;
color: #000;
font-weight: 900;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.portada
{position: relative;
top: 0;
left: 0;
right: 0;
justify-content: center;
align-items: center;
padding: 0 5vh;
background-image: url("bible-ga29c5e098_1920.jpg");
background-color: none;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
z-index: -1;
height: 100vh;}

#texto_portada
{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: MonteCarlo-Regular;
font-size: 6vh;
font-weight: 100;
color: #000;
text-align: center;
letter-spacing: .25rem;
line-height: 8vh;
margin: 0vh 0 0 0;
height: 50vh;
position: relative;
z-index: 100;
background: #fff;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.navegacion_movil
{display: none;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

@media(max-width: 450px) {

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#cuerpo_index 
{background: #fff url("bible-ga29c5e098_1920.jpg") no-repeat fixed right center;
}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.cabecera
{display: flex;
flex-direction: column;
height: 100vh;
width: 100vw;
background: rgba(0, 0, 0, .4);
position: relative;
padding: 0;
margin: 0;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#logo_cabecera
{display: none;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.cabecera nav
{display: none;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#logo_index_cabecera_mobil
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
width: 100vw;
font-family: Inspiration-Regular;
font-size: 20vh;
font-weight: 100;
text-align: center;
text-shadow: .25vh .25vh .75vh rgba(0, 0, 0, 1);
line-height: 20vh;
color: #fff;
word-spacing: 25vh:}

#logo_index_cabecera_mobil_2
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
font-family: Inspiration-Regular;
font-size: 10vh;
font-weight: 100;
text-align: center;
text-shadow:.25vh .25vh .25vh rgba(0, 0, 0, 1);
line-height: 12.5vh;
color: #fff;
word-spacing: 25vh:}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#texto_portada
{height: 100vh;
margin: 0vh 0 0 0;
justify-content: center;
align-items: center;
background: rgba(255, 255, 255, .9);
font-family: MonteCarlo-Regular;
font-size: 5vh;
text-align: center;
padding: 0 3rem;
box-sizing: border-box;
font-weight: 000;
letter-spacing: .25rem;
line-height: 8vh;}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.navegacion_movil
{display: flex;
flex-direction: row;
width: 100vw;
justify-content: center;
align-items: center;
box-sizing: border-box;
padding: 10vh 0;}

.navegacion_movil a
{display: flex;
justify-content: center;
align-items: center;
background: #fff;
color: #000;
height: 20vw;
width: 70vw;
font-size: 3vh;
font-weight: 100;
font-family: MonteCArlo-Regular;
letter-spacing: .25rem;
border-radius: 1vh;
text-decoration: none;
margin: 0 0 2.5vh 0;
box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, .5);}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

footer
{display: none;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

@media(max-height: 450px) {

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.cabecera
{display: flex;
flex-direction: row;
position: relative;
left: 0;
top: 0;
height: 100vh;
width: 100vw;
padding: 10vh 0 0 0;
margin: 0;
background: none;
justify-content: center;
align-items: center;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/

#logo_cabecera
{display: none;}

#logo_cabecera_mobil
{display: flex;
flex-direction: column;
height: 100vh;
padding: 0;}

#siglas_logo
{font-size: 25vh;
line-height: 20vh;
font-family: Inspiration-Regular;}

#logo_cabecera_mobil a
{font-family: Inspiration-Regular;
font-size: 40vh;
font-weight: 100;
margin: 0 0;
font-style: normal;
color: #fff;
height: 30vh;
width: 100%;
line-height: 40vh;
letter-spacing: .1rem;
word-spacing: -.9rem;
text-align: center;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/

.cabecera nav
{display: none;
position: absolute;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.portada
{display: flex;
margin: 0vh 0 0 0;
justify-content: center;
align-items: center;
height: 100vh;
font-family: MonteCarlo-Regular;
font-size: 12vh;
text-align: center;
padding: 0 3rem;
position: fixed;
box-sizing: border-box;
font-weight: 100;
letter-spacing: .35rem;
line-height: 17vh;}

#texto_portada
{font-size: 8vh;
line-height: 10vh;
height: 100vh;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

.navegacion_movil
{display: flex;
flex-direction: column;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
padding: 1vh 0;}

.navegacion_movil a
{display: flex;
justify-content: center;
align-items: center;
background: #fff;
color: #000;
height: 12vh;
width: 40vw;
font-size: 3vh;
font-weight: 700;
font-family: sans-serif;
letter-spacing: .75rem;
border-radius: 1vh;
text-decoration: none;
margin: 4vh 0 4vh 0;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

footer
{display: none;}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/